Repository Kristiannmiller/km-jw-fitlit, pull requests merged in 2020-08, with the labels that each got.

#1 Create pull_request_template.md
  pull_request_template.md
Labels: documentation

#48 Initial setup of user and userRepository files
  src/userRepository.js
  test/User-Test.js
  test/UserRepository-Test.js
Labels: Test Driven Development, feature

#50 Functionality of UserRepository and User classes
  src/User.js
  src/userRepository.js
  test/User-Test.js
  test/UserRepository-Test.js
Labels: Test Driven Development, enhancement, feature

#51 Initial Index.html and Styles.css setup and Static Composition
  src/index.html
  src/reset.css
  src/styles.css
Labels: design/UX

#52 Completes functionality of Hydration and HydrationRepository classes
  src/HydrationRepository.js
  src/User.js
  src/UserHydration.js
  src/index.html
  src/userRepository.js
  test/HydrationRepository-Test.js
  test/UserHydration-Test.js
Labels: Test Driven Development, enhancement, feature

#53 Add Sleep Data Functionality
  src/SleepRepository.js
  src/UserSleep.js
  test/SleepRepository-Test.js
  test/UserHydration-Test.js
  test/UserSleep-Test.js
Labels: Test Driven Development, enhancement, feature

#54 Display Sprint1 information to the user Dashboard using the DOM
  assets/userImages/TeamImage1.jpg
  assets/userImages/TeamImage2.jpg
  assets/userImages/TeamImage3.jpg
  assets/userImages/TeamImage4.jpg
  assets/userImages/TeamImage5.jpg
  assets/userImages/UserImage.jpg
  src/User.js
  src/index.html
  src/scripts.js
  src/styles.css
  src/userRepository.js
Labels: design/UX, enhancement, feature

#55 Package Uploads
  package-lock.json
  package.json
  src/index.html
  src/scripts.js
  src/styles.css
  test/activities-test.js
  test/activitiesRepository-test.js
Labels: design/UX, enhancement, feature
