Repository Kristiannmiller/km-jw-fitlit, pull requests merged in 2020-09, with the labels that each got.

#56 UserActivity and ActivityRepository
  src/UserActivity.js
  src/activityRepository.js
  test/ActivityRepository-test.js
  test/UserActivity-Test.js
  test/activities-test.js
  test/activitiesRepository-test.js
Labels: Test Driven Development, feature

#57 Updates dashboard calendars and date format
  src/SleepRepository.js
  src/UserHydration.js
  src/UserSleep.js
  src/index.html
  src/scripts.js
  src/styles.css
  test/UserHydration-Test.js
  test/UserRepository-Test.js
  test/UserSleep-Test.js
Labels: design/UX, enhancement, feature

#58 Activity Page Dashboard display
  src/index.html
  src/scripts.js
  src/styles.css
Labels: design/UX, enhancement, feature

#59 UserActivity and ActivityRepository Tests
  src/SleepRepository.js
  src/UserActivity.js
  test/UserActivity-Test.js
Labels: Test Driven Development, feature

#60 Add function names to Activity dashboard items for dynamic ability
  src/scripts.js
Labels: design/UX, enhancement, feature

#61 Additional Functions added to the Activity Class
  src/UserActivity.js
  src/activityRepository.js
  src/userRepository.js
  test/ActivityRepository-test.js
  test/UserActivity-Test.js
Labels: Test Driven Development, enhancement, feature

#62 Refactoring
  README.md
  assets/FitLitInAction.gif
  src/SleepRepository.js
  src/UserActivity.js
  src/activityRepository.js
  src/scripts.js
  src/userRepository.js
  test/ActivityRepository-test.js
  test/UserActivity-Test.js
  test/UserRepository-Test.js
Labels: Test Driven Development, design/UX, enhancement, feature
